@model IEnumerable<ITInventory.Models.OrderHistory>
@{
    ViewBag.Title = "Index";
}

<h2>Order History</h2>

@(Html.Kendo().Grid(Model)
    .Name("grid")
            .Columns(column =>
            {
                column.Bound(model => model.Product.ProductName).Title("Product");
                column.Bound(model => model.QtyOrdered).Title("Ordered");
                column.Template(model => model.QtyOrdered * model.Product.SellPrice).Title("Total Cost");
                column.Bound(model => model.Product.Vendor.Name).Title("Vendor");
                column.Bound(model => model.LastEditUser);
                column.Bound(model => model.LastEditDateTime);
                column.Template(@<text><input type="button" id="@item.QtyOrdered" name="@item.ProductId" @{var dis = ""; var val="Check-In"; if (item.IsCheckedIn == true) { dis = "disabled"; val = "Checked-In"; };} class="checkInOrder" value=@val @dis /></text>);
                column.Bound(model => model.Id);
            })
            .Scrollable()
            .Filterable()
            .Sortable()
            .HtmlAttributes(new { style = "height: 550px;" })
            .Pageable(pageable => pageable
                .Refresh(true)
                .PageSizes(true)
                .PageSizes(new int[] { 10, 20, 100 })
                .ButtonCount(5))

)
<script>
    
    $(document).on('click', '.checkInOrder', function () {
        var checkIn = true;
        var checkQty = this.id;
        var productId = this.name;
        var checkId = this.parentNode.nextSibling.innerText;

        this.value = "Checked-In"
        this.disabled = true;

        $.ajax({
            url: "@Url.Action("Update_OrderConfirm", "OrderHistory")",
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                QtyConfirmed: checkQty,
                CheckedIn: checkIn,
                ProductId: productId,
                CheckId: checkId
            })
    })
    });
</script>