@model IEnumerable<ITInventory.Models.Product>
@{
    ViewBag.Title = "Reorder Inventory";
}
<h1>Order Summary</h1>
@using (Html.BeginForm("Create", "Home"))
{
    foreach (var product in Model) { 
<h3>Product: @Html.DropDownListFor(model => product.Id, new SelectList(ViewBag.Products, "Value", "Text", product.ProductName), new { @class = "form-control products", id="Products"})</h3>
@*<h3>Vendor:  @Html.DropDownListFor(model => product.Vendor.Id, new SelectList(ViewBag.Vendors, "Value", "Text", product.Vendor.Name), new { @class = "form-control", id="Vendors"})</h3>*@
<h3>Email Vendor: @Html.CheckBox("emailVendor", false)</h3>
<h3>Order Quantity: @Html.TextBoxFor(model => product.DefaultOrderSize, new { @class = "form-control", style = "width: 250px;" })</h3>
}
<button type="submit">Submit Order</button>
}

<script>
    $("#Vendors").kendoComboBox();
    $(".products").kendoComboBox();
</script>